h1{
    text-align:center;
    font-size: 50px;
    color: white;
    font-family: 'Garamond';
    
}
h2{
    text-align:center;
    font-size: 30px;
    color: white;
    font-family: 'Garamond';
}
p{
    text-align:center;
    font-size: 20px;
    color: white;
    font-family: 'Helvetica';
    
}
.s1 {

    background: url('../images/bowls.png');
    background-size: cover;
    
    // h1{
    //     font-family: 'Abril Fatface';
    // }
}

.s2 {

    background: url('../images/spoons.png');
    background-size: cover;
    
}

.s3 {

    background: url('../images/MN.png');
    background: color rgba(0, 0, 0, 0.884);;
    background-size:cover;
    
}
